<div class="container footer-truste" style="padding-bottom: 0">
  <div id="footer-truste-wrap">
    <div height="57px" style="display: inline-block; margin-right: 10px">
      <a
        href="//privacy.truste.com/privacy-seal/validation?rid=e83a96cf-eaa2-4c82-8d85-883196fcb42c"
        target="_blank"
      >
        <img
          style="border: none"
          src="//privacy-policy.truste.com/privacy-seal/seal?rid=e83a96cf-eaa2-4c82-8d85-883196fcb42c"
          alt="TRUSTe"
        />
      </a>
    </div>
    <div height="57px" style="display: inline-block">
      <a
        href="//privacy.truste.com/privacy-seal/validation?rid=51be162a-c152-402b-84d2-d0a724de679a"
        target="_blank"
      >
        <img
          style="border: none"
          src="//privacy-policy.truste.com/privacy-seal/seal?rid=51be162a-c152-402b-84d2-d0a724de679a"
          alt="TRUSTe"
        />
      </a>
    </div>
    &nbsp;
  </div>
  <div id="footer-teconsent"></div>
</div>
