<div
  class="module__banner no-animation pre"
  style="opacity: 0; --module-backgroundSize: cover"
>
  <div
    class="module__background__back no-animation"
    style="
      --no-animation-backgroundSize: cover;
      --no-animation-backgroundPosition: center;
    "
  ></div>
  <div
    class="module__background no-animation"
    style="
      background-image: url('https://img.alicdn.com/imgextra/i1/O1CN01HNetOJ1UW2YoHbi14_!!6000000002524-0-tps-750-440.jpg');
      --no-animation-backgroundSize: cover;
      --no-animation-backgroundPosition: center;
    "
  ></div>
  <div class="module__content">
    <a
      target="_self"
      class="module container module__content__inner"
      alps-track-click="7911826.8458392250.7"
      ><h2
        style="
          --module-content-titleColor: #0d0d0e;
          --module-content-titleFontSize: 44px;
          -webkit-box-orient: vertical;
        "
      >
        Startup Catalyst Program
      </h2>
      <p
        style="
          --module-content-descColor: #242627;
          --module-content-descFontSize: 18px;
          -webkit-box-orient: vertical;
        "
      >
        Get up to USD $120K in cloud resources and business support to start
        building on Alibaba Cloud
      </p>
      <div class="btn btn-primary banner-btn">
        <span>Learn More</span
        ><svg width="13.33px" height="12px" viewBox="0 0 14 12" version="1.1">
          <g
            id="页面-1"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
          >
            <g
              id="qs"
              transform="translate(-1557.000000, -667.000000)"
              fill="#ffffff"
            >
              <g id="编组" transform="translate(1557.000000, 667.000000)">
                <polygon
                  id="Fill-1"
                  points="7.33263622 11.8952599 6.38975315 10.9523768 11.3418707 6.00025926 6.38923463 1.04769724 7.3321177 0.104740094 13.2276369 6.00025926"
                ></polygon>
                <path
                  d="M6.28449454,1.04769724 L11.2370566,6.00025926 L6.28493898,10.9523768 L7.33263622,12 L13.332377,6.00025926 L7.3321177,0 L6.28449454,1.04769724 Z M6.49449324,10.9523768 L11.4465367,6.00025926 L6.49397473,1.04769724 L7.3321177,0.209480188 L13.1228968,6.00025926 L7.33263622,11.7905198 L6.49449324,10.9523768 Z"
                  id="Fill-2"
                ></path>
                <polygon
                  id="Fill-3"
                  points="0.0740736168 6.66702551 12.0951846 6.66702551 12.0951846 5.33355226 0.0740736168 5.33355226"
                ></polygon>
                <path
                  d="M0,6.74102506 L12.1692582,6.74102506 L12.1692582,5.25940457 L0,5.25940457 L0,6.74102506 Z M0.148147234,6.5929519 L12.021111,6.5929519 L12.021111,5.40762588 L0.148147234,5.40762588 L0.148147234,6.5929519 Z"
                  id="Fill-4"
                ></path>
              </g>
            </g>
          </g>
        </svg></div
    ></a>
  </div>
</div>
<div
  class="module__banner no-animation current"
  style="opacity: 1; --module-backgroundSize: cover"
>
  <div
    class="module__background__back no-animation"
    style="
      --no-animation-backgroundSize: cover;
      --no-animation-backgroundPosition: center;
    "
  ></div>
  <div
    class="module__background no-animation"
    style="
      background-image: url('https://img.alicdn.com/imgextra/i2/O1CN01BvM6xA1OwhvWlyHWe_!!6000000001770-0-tps-750-440.jpg');
      --no-animation-backgroundSize: cover;
      --no-animation-backgroundPosition: center;
    "
  ></div>
  <div class="module__content">
    <a
      target="_self"
      class="module container module__content__inner"
      alps-track-click="7911826.8458392250.8"
      ><h2
        style="
          --module-content-titleColor: #0d0d0e;
          --module-content-titleFontSize: 44px;
          -webkit-box-orient: vertical;
        "
      >
        Monthly Selection for Enterprises
      </h2>
      <p
        style="
          --module-content-descColor: #242627;
          --module-content-descFontSize: 18px;
          -webkit-box-orient: vertical;
        "
      >
        Enjoy a $100 coupon in November 2023 to start your cloud journey
      </p>
      <div class="btn btn-primary banner-btn">
        <span>Get It Now</span
        ><svg width="13.33px" height="12px" viewBox="0 0 14 12" version="1.1">
          <g
            id="页面-1"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
          >
            <g
              id="qs"
              transform="translate(-1557.000000, -667.000000)"
              fill="#ffffff"
            >
              <g id="编组" transform="translate(1557.000000, 667.000000)">
                <polygon
                  id="Fill-1"
                  points="7.33263622 11.8952599 6.38975315 10.9523768 11.3418707 6.00025926 6.38923463 1.04769724 7.3321177 0.104740094 13.2276369 6.00025926"
                ></polygon>
                <path
                  d="M6.28449454,1.04769724 L11.2370566,6.00025926 L6.28493898,10.9523768 L7.33263622,12 L13.332377,6.00025926 L7.3321177,0 L6.28449454,1.04769724 Z M6.49449324,10.9523768 L11.4465367,6.00025926 L6.49397473,1.04769724 L7.3321177,0.209480188 L13.1228968,6.00025926 L7.33263622,11.7905198 L6.49449324,10.9523768 Z"
                  id="Fill-2"
                ></path>
                <polygon
                  id="Fill-3"
                  points="0.0740736168 6.66702551 12.0951846 6.66702551 12.0951846 5.33355226 0.0740736168 5.33355226"
                ></polygon>
                <path
                  d="M0,6.74102506 L12.1692582,6.74102506 L12.1692582,5.25940457 L0,5.25940457 L0,6.74102506 Z M0.148147234,6.5929519 L12.021111,6.5929519 L12.021111,5.40762588 L0.148147234,5.40762588 L0.148147234,6.5929519 Z"
                  id="Fill-4"
                ></path>
              </g>
            </g>
          </g>
        </svg></div
    ></a>
  </div>
</div>
<div
  class="module__banner no-animation next"
  style="opacity: 0; --module-backgroundSize: cover"
>
  <div
    class="module__background__back no-animation"
    style="
      --no-animation-backgroundSize: cover;
      --no-animation-backgroundPosition: center;
    "
  ></div>
  <div
    class="module__background no-animation"
    style="
      background-image: url('https://img.alicdn.com/imgextra/i1/O1CN01I29edI1XVzMXKgIjJ_!!6000000002930-0-tps-750-440.jpg');
      --no-animation-backgroundSize: cover;
      --no-animation-backgroundPosition: center;
    "
  ></div>
  <div class="module__content">
    <a
      target="_self"
      class="module container module__content__inner"
      alps-track-click="7911826.8458392250.9"
      ><h2
        style="
          --module-content-titleColor: #0d0d0e;
          --module-content-titleFontSize: 44px;
          -webkit-box-orient: vertical;
        "
      >
        CLOUD NEXUS
      </h2>
      <p
        style="
          --module-content-descColor: #242627;
          --module-content-descFontSize: 18px;
          -webkit-box-orient: vertical;
        "
      >
        Explore the top integrated solutions from Global Technology Partners to
        accelerate digital transformation
      </p>
      <div class="btn btn-primary banner-btn">
        <span>Join Now</span
        ><svg width="13.33px" height="12px" viewBox="0 0 14 12" version="1.1">
          <g
            id="页面-1"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
          >
            <g
              id="qs"
              transform="translate(-1557.000000, -667.000000)"
              fill="#ffffff"
            >
              <g id="编组" transform="translate(1557.000000, 667.000000)">
                <polygon
                  id="Fill-1"
                  points="7.33263622 11.8952599 6.38975315 10.9523768 11.3418707 6.00025926 6.38923463 1.04769724 7.3321177 0.104740094 13.2276369 6.00025926"
                ></polygon>
                <path
                  d="M6.28449454,1.04769724 L11.2370566,6.00025926 L6.28493898,10.9523768 L7.33263622,12 L13.332377,6.00025926 L7.3321177,0 L6.28449454,1.04769724 Z M6.49449324,10.9523768 L11.4465367,6.00025926 L6.49397473,1.04769724 L7.3321177,0.209480188 L13.1228968,6.00025926 L7.33263622,11.7905198 L6.49449324,10.9523768 Z"
                  id="Fill-2"
                ></path>
                <polygon
                  id="Fill-3"
                  points="0.0740736168 6.66702551 12.0951846 6.66702551 12.0951846 5.33355226 0.0740736168 5.33355226"
                ></polygon>
                <path
                  d="M0,6.74102506 L12.1692582,6.74102506 L12.1692582,5.25940457 L0,5.25940457 L0,6.74102506 Z M0.148147234,6.5929519 L12.021111,6.5929519 L12.021111,5.40762588 L0.148147234,5.40762588 L0.148147234,6.5929519 Z"
                  id="Fill-4"
                ></path>
              </g>
            </g>
          </g>
        </svg></div
    ></a>
  </div>
</div>
